# !play cat vibing to npm install
node_modules/

# nested VSC's for deployment purposes
/part3/.git/

# code along exercises
/notes/
/notes_redux/

# VSCode REST Client extension files
requests/

cypress/videos/

.env
