# !play cat vibing to npm install
node_modules/

# nested VCS's for deployment purposes
/part3/.git/

# code along exercises
/notes/
/notes_redux/
/phonebook_graphql/

# VSCode REST Client extension files
requests/

cypress/videos/

.env
